<div class="clearfix flex-grow">
    
    <header class="px2 col col-12 md-col-3 center md-left">
        
        <img src="{{image}}" class="header-logo circle block" style="" />
        <h1>{{title}}</h1>
        
        <nav>
            <ul class="col-12 p0 list-reset inline-block clearfix blue">
            {{#each nav}}
                <li class="py1 md-no-active-box-shadow pl0 pr0 regular block col-12 btn white btn-outline not-rounded y-group-item"><a href="{{href}}" class="block">{{name}}</a></li>
            {{/each}}
            </ul>
        </nav>
        
        <p>This is my personal website.</p>
        <p>I'm a Software Engineer from Dallas. I like blah blah blah and blah blah blah.</p>
    </header>
    
    <main role="main" class="px2 col col-12 md-col-9 lg-col-6" des-template="templates/{{page}}.html">
    </main>
    
    <section class="col col-12 lg-col-3" des-template="templates/sidebar.html"></section>
</div>

<footer class="gray left-align p2">
    <section>Desmond Lee © 2015</section>
</footer>