<hr class="lg-hide" />

<div class="px2 col col-12 md-col-4 lg-col-12">
    <h3>Contact me</h3>
    <form class="">
        <label for="email">Your Email</label>
        <input name="email" id="email" type="email" class="block field col-12">
        <label for="message">Message</label>
        <textarea name="message" id="message" class="block field col-12"></textarea>
        <input type="submit" class="btn btn-primary mt1">
    </form>
</div>

<div class="px2 col col-12 md-col-4 lg-col-12">
    <h3>Cool things</h3>
    <ul class="p0 list-reset">
        <li><a href="#">Superwinner</a></li>
    </ul>
</div>

<div class="px2 col col-12 md-col-4 lg-col-12">
    <h3>Friends</h3>
    <ul class="p0 list-reset">
        <li><a href="#">Elizabeth Del Rosario</a></li>
        <li><a href="#">Spencer Hawkins</a></li>
    </ul>
</div>

<div class="px2 col col-12 md-col-4 lg-col-12">
    <h3>Tweets</h3>
    <ul class="p0 list-reset">
        <li>LIVE on #Periscope: Test post please ignore https://t.co/nbGf85PrzV Oct 16</li>
        <li>RT @amandapalmer: @granadatheater I AM BACKSTAGE. YET I CAN SEE YOU. I AM MAGIC. Apr 15</li>
        <li>@granadatheater this purple haze stuff is good! Apr 15</li>
        <li>I'm checking out UXPin - The UX Design App http://t.co/myTotxXWvt Join me! #ux #design #uxpin Mar 17</li>
    </ul>
</div>